@layer base {
  .dark-high-contrast {
    /* Primary */
    --color-primary: rgb(236 239 255);
    --color-on-primary: rgb(0 0 0);
    --color-primary-container: rgb(169 194 252);
    --color-on-primary-container: rgb(0 10 34);
    --color-primary-fixed: rgb(216 226 255);
    --color-on-primary-fixed: rgb(0 0 0);
    --color-primary-fixed-dim: rgb(173 198 255);
    --color-on-primary-fixed-variant: rgb(0 16 45);

    /* Secondary */
    --color-secondary: rgb(236 239 255);
    --color-on-secondary: rgb(0 0 0);
    --color-secondary-container: rgb(187 194 216);
    --color-on-secondary-container: rgb(4 11 27);
    --color-secondary-fixed: rgb(219 226 249);
    --color-on-secondary-fixed: rgb(0 0 0);
    --color-secondary-fixed-dim: rgb(191 198 220);
    --color-on-secondary-fixed-variant: rgb(9 17 33);

    /* Tertiary */
    --color-tertiary: rgb(255 234 252);
    --color-on-tertiary: rgb(0 0 0);
    --color-tertiary-container: rgb(218 184 219);
    --color-on-tertiary-container: rgb(23 3 28);
    --color-tertiary-fixed: rgb(251 215 252);
    --color-on-tertiary-fixed: rgb(0 0 0);
    --color-tertiary-fixed-dim: rgb(222 188 223);
    --color-on-tertiary-fixed-variant: rgb(30 8 34);

    /* Error */
    --color-error: rgb(255 236 233);
    --color-on-error: rgb(0 0 0);
    --color-error-container: rgb(255 174 164);
    --color-on-error-container: rgb(34 0 1);

    /* Background & Surface */
    --color-background: rgb(17 19 24);
    --color-on-background: rgb(226 226 233);
    --color-surface: rgb(17 19 24);
    --color-on-surface: rgb(255 255 255);
    --color-surface-variant: rgb(68 71 79);
    --color-on-surface-variant: rgb(255 255 255);
    --color-surface-tint: rgb(173 198 255);

    /* Surface Container Levels */
    --color-surface-dim: rgb(17 19 24);
    --color-surface-bright: rgb(78 80 86);
    --color-surface-container-lowest: rgb(0 0 0);
    --color-surface-container-low: rgb(30 31 37);
    --color-surface-container: rgb(47 48 54);
    --color-surface-container-high: rgb(58 59 65);
    --color-surface-container-highest: rgb(69 71 76);

    /* Inverse & Others */
    --color-inverse-surface: rgb(226 226 233);
    --color-inverse-on-surface: rgb(0 0 0);
    --color-inverse-primary: rgb(44 71 121);
    --color-outline: rgb(238 239 249);
    --color-outline-variant: rgb(193 194 204);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
  }
}
