@layer base {
  .dark-medium-contrast {
    /* Primary */
    --color-primary: rgb(207 220 255);
    --color-on-primary: rgb(0 36 84);
    --color-primary-container: rgb(119 144 199);
    --color-on-primary-container: rgb(0 0 0);
    --color-primary-fixed: rgb(216 226 255);
    --color-on-primary-fixed: rgb(0 16 45);
    --color-primary-fixed-dim: rgb(173 198 255);
    --color-on-primary-fixed-variant: rgb(24 53 102);

    /* Secondary */
    --color-secondary: rgb(213 220 243);
    --color-on-secondary: rgb(30 38 54);
    --color-secondary-container: rgb(137 145 165);
    --color-on-secondary-container: rgb(0 0 0);
    --color-secondary-fixed: rgb(219 226 249);
    --color-on-secondary-fixed: rgb(9 17 33);
    --color-secondary-fixed-dim: rgb(191 198 220);
    --color-on-secondary-fixed-variant: rgb(46 54 71);

    /* Tertiary */
    --color-tertiary: rgb(245 209 245);
    --color-on-tertiary: rgb(52 29 56);
    --color-tertiary-container: rgb(166 135 168);
    --color-on-tertiary-container: rgb(0 0 0);
    --color-tertiary-fixed: rgb(251 215 252);
    --color-on-tertiary-fixed: rgb(30 8 34);
    --color-tertiary-fixed-dim: rgb(222 188 223);
    --color-on-tertiary-fixed-variant: rgb(70 45 73);

    /* Error */
    --color-error: rgb(255 210 204);
    --color-on-error: rgb(84 0 3);
    --color-error-container: rgb(255 84 73);
    --color-on-error-container: rgb(0 0 0);

    /* Background & Surface */
    --color-background: rgb(17 19 24);
    --color-on-background: rgb(226 226 233);
    --color-surface: rgb(17 19 24);
    --color-on-surface: rgb(255 255 255);
    --color-surface-variant: rgb(68 71 79);
    --color-on-surface-variant: rgb(218 220 230);
    --color-surface-tint: rgb(173 198 255);

    /* Surface Container Levels */
    --color-surface-dim: rgb(17 19 24);
    --color-surface-bright: rgb(67 68 74);
    --color-surface-container-lowest: rgb(6 7 12);
    --color-surface-container-low: rgb(28 29 34);
    --color-surface-container: rgb(38 40 45);
    --color-surface-container-high: rgb(49 50 56);
    --color-surface-container-highest: rgb(60 61 67);

    /* Inverse & Others */
    --color-inverse-surface: rgb(226 226 233);
    --color-inverse-on-surface: rgb(40 42 47);
    --color-inverse-primary: rgb(44 71 121);
    --color-outline: rgb(176 177 187);
    --color-outline-variant: rgb(142 144 153);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
  }
}
