@layer base {
  .light-high-contrast {
    /* Primary */
    --color-primary: rgb(10 43 91);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(46 72 122);
    --color-on-primary-container: rgb(255 255 255);
    --color-primary-fixed: rgb(46 72 122);
    --color-on-primary-fixed: rgb(255 255 255);
    --color-primary-fixed-dim: rgb(19 49 98);
    --color-on-primary-fixed-variant: rgb(255 255 255);

    /* Secondary */
    --color-secondary: rgb(36 44 61);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(65 73 91);
    --color-on-secondary-container: rgb(255 255 255);
    --color-secondary-fixed: rgb(65 73 91);
    --color-on-secondary-fixed: rgb(255 255 255);
    --color-secondary-fixed-dim: rgb(43 51 68);
    --color-on-secondary-fixed-variant: rgb(255 255 255);

    /* Tertiary */
    --color-tertiary: rgb(59 35 63);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(90 64 93);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-tertiary-fixed: rgb(90 64 93);
    --color-on-tertiary-fixed: rgb(255 255 255);
    --color-tertiary-fixed-dim: rgb(66 42 70);
    --color-on-tertiary-fixed-variant: rgb(255 255 255);

    /* Error */
    --color-error: rgb(96 0 4);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(152 0 10);
    --color-on-error-container: rgb(255 255 255);

    /* Background & Surface */
    --color-background: rgb(249 249 255);
    --color-on-background: rgb(26 27 32);
    --color-surface: rgb(249 249 255);
    --color-on-surface: rgb(0 0 0);
    --color-surface-variant: rgb(225 226 236);
    --color-on-surface-variant: rgb(0 0 0);
    --color-surface-tint: rgb(68 94 145);

    /* Surface Container Levels */
    --color-surface-dim: rgb(184 184 191);
    --color-surface-bright: rgb(249 249 255);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(240 240 247);
    --color-surface-container: rgb(226 226 233);
    --color-surface-container-high: rgb(212 212 219);
    --color-surface-container-highest: rgb(198 198 205);

    /* Inverse & Others */
    --color-inverse-surface: rgb(47 48 54);
    --color-inverse-on-surface: rgb(255 255 255);
    --color-inverse-primary: rgb(173 198 255);
    --color-outline: rgb(41 44 51);
    --color-outline-variant: rgb(70 73 81);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
  }
}
