@import "tailwindcss";
@import "./theme/light.css";
@import "./colors.css";
@import "./elevation.css";
@import "./motion.css";
@import "./palette.css";
@import "./shape.css";
@import "./state.css";
@import "./typography.css";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display: "Satoshi", sans-serif;
}

@layer base {
  html {
    @apply bg-white antialiased dark:bg-gray-950;
    font-family: var(--font-sans);
    color-scheme: light dark;
  }
}
