@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display: "Satoshi", sans-serif;
}

@layer base {
  html {
    @apply bg-white antialiased dark:bg-gray-950;
    font-family: var(--font-sans);
    color-scheme: light dark;
  }
}

/* 3. Thêm các Utility tùy chỉnh (Dùng được ở mọi nơi bằng class) */
/* @utility tab-4 {
  tab-size: 4;
} */

/* 4. Cấu hình Legacy (nếu có) */
/* @plugin "@tailwindcss/typography"; */
