@theme {
  /* Tonal Palettes của Material Design 3 */
  /* --- PRIMARY --- */
  --color-primary-0: #000000;
  --color-primary-10: #21005d;
  --color-primary-20: #381e72;
  --color-primary-30: #4f378b;
  --color-primary-40: #6750a4;
  --color-primary-50: #7f67be;
  --color-primary-60: #9a82db;
  --color-primary-70: #b69df8;
  --color-primary-80: #d0bcff;
  --color-primary-90: #eaddff;
  --color-primary-95: #f6edff;
  --color-primary-99: #fffbfe;
  --color-primary-100: #ffffff;

  /* --- SECONDARY --- */
  --color-secondary-0: #000000;
  --color-secondary-10: #1d192b;
  --color-secondary-20: #332d41;
  --color-secondary-30: #4a4458;
  --color-secondary-40: #625b71;
  --color-secondary-50: #7a7289;
  --color-secondary-60: #958da5;
  --color-secondary-70: #b0a7c0;
  --color-secondary-80: #ccc2dc;
  --color-secondary-90: #e8def8;
  --color-secondary-95: #f6edff;
  --color-secondary-99: #fffbfe;
  --color-secondary-100: #ffffff;

  /* --- TERTIARY --- */
  --color-tertiary-0: #000000;
  --color-tertiary-10: #31111d;
  --color-tertiary-20: #492532;
  --color-tertiary-30: #633b48;
  --color-tertiary-40: #7d5260;
  --color-tertiary-50: #986977;
  --color-tertiary-60: #b58392;
  --color-tertiary-70: #d29dac;
  --color-tertiary-80: #efb8c8;
  --color-tertiary-90: #ffd8e4;
  --color-tertiary-95: #ffecf1;
  --color-tertiary-99: #fffbfa;
  --color-tertiary-100: #ffffff;

  /* --- ERROR --- */
  --color-error-0: #000000;
  --color-error-10: #410e0b;
  --color-error-20: #601410;
  --color-error-30: #8c1d18;
  --color-error-40: #b3261e;
  --color-error-50: #dc362e;
  --color-error-60: #e46962;
  --color-error-70: #ec928e;
  --color-error-80: #f2b8b5;
  --color-error-90: #f9dedc;
  --color-error-95: #fceeee;
  --color-error-99: #fffbf9;
  --color-error-100: #ffffff;

  /* --- NEUTRAL (Dùng cho background/surface) --- */
  --color-neutral-0: #000000;
  --color-neutral-10: #1c1b1f;
  --color-neutral-20: #313033;
  --color-neutral-30: #484649;
  --color-neutral-40: #605d62;
  --color-neutral-50: #787579;
  --color-neutral-60: #939094;
  --color-neutral-70: #aeaaae;
  --color-neutral-80: #c9c5ca;
  --color-neutral-90: #e6e1e5;
  --color-neutral-95: #f4eff4;
  --color-neutral-99: #fffbfe;
  --color-neutral-100: #ffffff;

  /* --- NEUTRAL VARIANT (Dùng cho outline/medium emphasis) --- */
  --color-neutral-variant-0: #000000;
  --color-neutral-variant-10: #1d1a22;
  --color-neutral-variant-20: #322f37;
  --color-neutral-variant-30: #49454f;
  --color-neutral-variant-40: #605d66;
  --color-neutral-variant-50: #79747e;
  --color-neutral-variant-60: #938f99;
  --color-neutral-variant-70: #aea9b4;
  --color-neutral-variant-80: #cac4d0;
  --color-neutral-variant-90: #e7e0ec;
  --color-neutral-variant-95: #f5eefa;
  --color-neutral-variant-99: #fffbfe;
  --color-neutral-variant-100: #ffffff;
}
