@import "tailwindcss";

@theme {
  --color-main-50: #e8f1fc;
  --color-main-100: #d1e4fa;
  --color-main-200: #a2c9f5;
  --color-main-300: #74adef;
  --color-main-400: #4592ea;
  --color-main-500: #1777e5;
  --color-main-600: #125fb7;
  --color-main-700: #0e4789;
  --color-main-800: #09305c;
  --color-main-900: #05182e;

  --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer base {
  html {
    @apply scheme-light dark:scheme-dark;
  }
  body {
    @apply m-0 p-0;
  }
}
